.movies-list {
	display: flex;
	gap: 32px 36px;
	flex-wrap: wrap;
}
.movies-list > li {
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #e2e2e2;
	flex: 0 0 calc(50% - 19px);
	height: auto;
	display: flex;
	-webkit-box-shadow: 6px 6px 8px 1px rgba(34, 60, 80, 0.06);
	-moz-box-shadow: 6px 6px 8px 1px rgba(34, 60, 80, 0.06);
	box-shadow: 6px 6px 8px 1px rgba(34, 60, 80, 0.06);
	transition: all 0.3s;
}
.movies-list > li:hover {
	-webkit-box-shadow: 6px 6px 8px 1px rgba(34, 90, 90, 0.1);
	-moz-box-shadow: 6px 6px 8px 1px rgba(34, 90, 90, 0.1);
	box-shadow: 6px 6px 8px 1px rgba(34, 90, 90, 0.1);
}

@media screen and (max-width: 1080px) {
	.movies-list {
		flex-direction: column;
	}
}
