@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Glagolitic&display=swap');

*,
*::after,
*::before {
	padding: 0;
	box-sizing: border-box;
	font-size: 12px;
	font-family: 'Inter', sans-serif;
}

li {
	list-style: none;
}
.container {
	margin: 0 auto;
	padding: 0 16px;
	max-width: 1042px;
}


.what-find {
	font-size: 14px;
	padding-top: 10px;
}

.ant-pagination {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 15px;
}
.connection-troubles {
	padding: 0 14px;
	font-size: 14px;
	text-align: center;
}
.ant-alert {
	width: 100%;
}

.error {
	color: black;
	text-align: center;
}
