header {
	margin: 15px 0 20px;
}

header div {
	display: flex;
	justify-content: center;
}
.active-tab {
	border-bottom: 3px solid rgba(24, 144, 255, 1);
}
header span {
	padding: 19px 10px 10px;
	display: block;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	cursor: pointer;
	transition: all 0.2;
	font-size: 14px;
	transition: all 0.1s;
}
header span:hover {
	border-bottom: 3px solid rgba(24, 144, 255, 0.2);
}